.centre{
  text-align: center;
}

.head_box{
  text-align: center;
  background-color: rgb(205, 23, 23);
  box-shadow: 6px 6px 6px rgb(255, 72, 0);
  font-size: 500%;
  color: aqua;
}

body{
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.link_style{
  font-size: 50px;
  color: crimson;
}

.block{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table{
  background-color: white;
  border-collapse: collapse;
}

td,th{
  border: 1px groove black;
}

.lobby_button{
  background-color: white;
  box-shadow: 6px 6px 6px black;
}

a:visited{
  color: green;
}

.update{
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  background-color: white;
  border: 3px solid black;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.imageflottanteleft
{
    float:left;
    width: 10%;
    margin-left: 10%;
    margin-right: 2%;

}

.imageflottanteright
{
    float:right;
    width: 30%;
    margin-left: 10%;
    margin-right: 2%;

}

.reco
{
  background-color: white;
  border: 0.5px solid black;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}